<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="utf-8" />
  <title>Payment App</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/general.css" />

</head>
<body>

<div class="container">
  <div class="row">
    <form id="my-checkout-form" class="col-md-6 col-md-offset-3" action="/record" method="get">
      <h2>Check Payment</h2>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="first-name">First Name</label>
            <input id="first-name" type="text" class="form-control" name="first-name" placeholder="First Name" />
            <div class="form-group-error hidden">The first name should not be empty.</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label" for="last-name">Last Name</label>
            <input id="last-name" type="text" class="form-control" name="last-name" placeholder="Last Name" />
            <div class="form-group-error hidden">The last name should not be empty.</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label" for="payment-id">Payment ID</label>
        <input id="payment-id" type="text" class="form-control" name="payment-id" placeholder="Payment ID" />
        <div class="form-group-error hidden">The payment ID should not be empty.</div>
      </div>

      <div class="form-group form-submit">
        <button type="button" class="btn btn-primary btn-submit">Search</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/check.js"></script>

<script th:inline="javascript">
</script>

</body>
</html>
